theme = "slim"
languageCode = "ja"
author = "mhffdq"
title = "mhffdq's blog"
baseurl = "https://mhffdq.github.io/blog"
googleanalytics = "UA-86522604-4"

[params]
  Subtitle = "development, life log"
  GithubID = "mhffdq"
  TwitterID = "piyo56.net"
  AnalyticsID = "UA-86522604-4"
  DisqusShortname = "Your Disqus shortname"
  Summary = false  # takes true or false
  Content = false  # takes true or false
  FooterMsg = "mhffdq All rights reserved."
